<!DOCTYPE html>
<html>
	
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="./assets/styles.css">
		<title>Survey on BiteSite.ca</title>
	</head>
	
	<div class="container-fluid pt-3 my-3 border bg-white text-dark">
		<body>
			<h1>Survey on BiteSite.ca</h1>
			<p>BiteSite is a custom software shop that builds software to help Ottawa businesses execute their vision. Please answer this short survey to help them improve their web site's user interface.</p>
			<p>Start by taking a look at their website at the following link: <a href="https://www.bitesite.ca/">BiteSite.ca</a>.</p>
			<a href="https://www.bitesite.ca/"><img src="./assets/bitesite.png" alt="Error. This image cannot be loaded."></a>
			
			<form name="Questionnaire">
				<div class="form-group">
					<h2>Question 1</h2>
					<p>What is your general impression of the website?<span class="redText">*</span></p>
					<input type="text" name="question1"><br><br>
				</div>
				<div>
					<h2>Question 2</h2>
					<p>Were you able to find the contact information?<span class="redText">*</span></p>
					<input type="radio" name="question2" value="Yes">Yes<br>
					<input type="radio" name="question2" value="Yes, with difficulty">Yes, with difficulty<br>
					<input type="radio" name="question2" value="No">No<br><br>
				</div>
				<div>
					<h2>Question 3</h2>
					<p>Do you agree with the following statement: this website is easy to understand?<span class="redText">*</span></p>
					<input type="radio" name="question3" value="Strongly agree">Strongly agree<br>
					<input type="radio" name="question3" value="Agree">Agree<br>
					<input type="radio" name="question3" value="Undecided">Undecided<br>
					<input type="radio" name="question3" value="Disagree">Disagree<br>
					<input type="radio" name="question3" value="Strongly disagree">Strongly disagree<br><br>
				</div>
				<div>
					<h2>Question 4</h2>
					<p>What is your age category?<span class="redText">*</span></p>
					<select name="question4">
					<option selected="selected" disabled>Please select an option</option>
						<option>&lt;18</option>
						<option>18-30</option>
						<option>31-40</option>
						<option>41-50</option>
						<option>51-60</option>
						<option>61-70</option>
						<option>&gt;70</option>
					</select><br><br>
				</div>
				<div>
					<h2>Question 5</h2>
					<p>Please check every statement that applies to your use of this website<span class="redText">*</span></p>
					1. <input type="checkbox" name="question5" value="1"> This website lacked some functionalities I expected<br>
					2. <input type="checkbox" name="question5" value="2"> I was confused by some elements of the website(buttons, menus, icons, etc.)<br>
					3. <input type="checkbox" name="question5" value="3"> I was required to complete necessary steps while performing actions on this website<br>
					4. <input type="checkbox" name="question5" value="4"> I had difficulty using this website<br>
					5. <input type="checkbox" name="question5" value="5"> I encountered errors or bugs while using this website<br><br>
				</div>
				<div>
					<h2>Question 6</h2>
					<p>Please explain every situation you checked in question 5.<span class="redText">*</span></p>
					<input type="text" name="question6"><br><br>
				</div>
				<div>
					<h2>Comments</h2>
					<p>If you have any constructive comments, please enter them here</p>
					<input type="text" name="comments"><br><br><br>
				</div>
				<div>
					<button type="submit" id="bb" class="btn btn-warning">Submit</button><br><br><br><br>
				</div>
			</form>
			<script src="/assets/action.js"></script>
		</body>
		
		<footer>
			<p>Website designed by Felix Meunier</p>
		</footer>
	<div>

</html>